.save_and_cancel {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2vh;
  }
  
  .save-update, .cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
  }
  
  .save-update {
    background-color: #4CAF50;
    color: white;
    animation: glow-green 1s ease-in-out infinite alternate;
  }
  
  .cancel {
    background-color: #f44336;
    color: white;
    animation: glow-red 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow-green {
    from {
      box-shadow: 0 0 10px #4CAF50;
    }
    to {
      box-shadow: 0 0 20px #4CAF50;
    }
  }
  
  @keyframes glow-red {
    from {
      box-shadow: 0 0 10px #f44336;
    }
    to {
      box-shadow: 0 0 20px #f44336;
    }
  }
  
  .save-update:hover, .cancel:hover {
    opacity: 0.9    ;
  }
  input{
    padding: 0.2rem;
  }
  .meal-column {
    border: 1px solid #9c9696;
    border-radius: .2rem;
    background-image: linear-gradient(25deg,#f2edeb 30%,#6bd8f6);
    padding: 15px;
    display: flex;
    flex-direction: column; 
  }
  
  h3{
    margin-left: 8rem;
  }
  #inner {
    margin-top: 1rem; /* Adjust margin-top as needed */
  }
  
  .in{
    margin-right: 90px;
    padding: 5px;
  }
  
  